.board-item {
	display: flex;
	justify-content: space-between;
	border-width: 1px;
	border-radius: 5px;
	padding: 8px 25px;
	margin: 10px 0;

	&:hover {
		background: rgba(198, 210, 233, 0.281);
		background: linear-gradient(
			90deg,
			rgba(198, 210, 233, 0.493) 0%,
			rgba(255, 255, 255, 1) 86%
		);
		border-color: black;
	}

	.board-link {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		font-weight: bold;
		text-decoration: none;

		.edit-trash-share-wrap {
			display: flex;
			flex-direction: column;
			justify-content: center; /* centra verticalmente si quieres */
			align-items: center;
			margin: 0;
			padding: 2px;

			.edit-btn,
			.trash-btn,
			.share-btn {
				cursor: pointer;
				padding: 4px;
			}
		}
	}
}
