.board-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid #e2e8f0;
	border-radius: 8px;
	padding: 16px 24px;
	margin: 8px auto;
	width: 100%;
	max-width: 100%;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

	&:hover {
		background: rgba(198, 210, 233, 0.281);
		background: linear-gradient(
			90deg,
			rgba(198, 210, 233, 0.493) 0%,
			rgba(255, 255, 255, 1) 86%
		);
	}

	.board-link {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		font-weight: bold;
		text-decoration: none;

		.edit-trash-share-wrap {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			margin: 0;
			padding: 2px;

			.edit-btn,
			.trash-btn,
			.share-btn {
				cursor: pointer;
				padding: 4px;
			}
		}
	}
}
