.page-container {
	display: flex;
	flex-direction: column;
	padding: 20px;
	max-width: 750px;
	margin: 0 auto;
	gap: 30px;

	.boards-list-container {
		display: flex;
		justify-content: center;

		.empty-list {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 20px;

			.p-empty-list {
				display: flex;
				flex-direction: column;
				align-items: center;
				font-size: large;
			}
		}

		.boards-wrapper {
			display: flex;
			flex-direction: column;
			justify-content: center;
			width: 100%;
			gap: 10px;
		}
	}
}

@media screen and (width > 768px) {
	.page-container {
		max-width: 750px;
		margin: 0 auto;
	}
}
