.board-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid #e2e8f0;
	border-radius: 8px;
	padding: 16px 24px;
	margin: 8px auto;
	width: 100%;
	max-width: 100%;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

	.board-link {
		align-self: center;
		font-weight: bold;
		text-decoration: none;
		&:hover {
			color: var(--color-primary);
		}
	}

	.edit-trash {
		display: flex;
		flex-direction: row;
		margin: 0;
		padding: 2px;

		.edit-btn,
		.trash-btn,
		.share-btn {
			cursor: pointer;
			padding: 4px;
			background: none;
			border: none;
		}
	}
}
