services:
  rabbitmq:
    image: rabbitmq:4-management
    container_name: rabbitmq_container
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
  app:
    container_name: flowkan-server
    build: .
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - rabbitmq
      - db
    volumes:
      - ./server:/usr/src/app
      - .:/usr/src/app:delegated
      - /usr/src/app/node_modules
      - ./src:/usr/src/app/src:delegated,consistency=cached
    command: npm run dev
    restart: always

  db:
    container_name: flowkan-db
    image: postgres:alpine3.22
    restart: always
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
