.modal-bg {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(5px);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;

	.modal-card {
		position: relative;
		display: flex;
		flex-direction: column;
		background-color: white;
		padding: 30px;
		border-radius: 8px;
		width: 50%;
		max-width: 500px;
		box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);

		.closebtn-form {
			position: absolute;
			top: 10px;
			right: 10px;
			align-self: flex-end;
		}

		.modal-header {
			font-size: large;
			font-weight: bold;

			&.confirm {
				text-align: center;
			}
		}

		.modal-form {
			display: flex;
			flex-direction: column;
			gap: 30px;
			margin-top: 10px;

			.form-btn {
				padding: 5px 10px;
				border-radius: 5px;
				width: 100px;
				align-self: center;
				background-color: var(--color-primary);
				color: var(--color-text-on-accent);
				transition: background-color 0.3s ease;

				&:hover {
					background-color: var(--color-primary-hover);
				}
			}
		}

		.modal-btns-container {
			display: flex;
			flex-direction: column;
			gap: 20px;
			margin-top: 30px;

			.modal-btn {
				padding: 5px 10px;
				border-radius: 5px;
				width: 100px;
				align-self: center;
				background-color: var(--color-primary);
				color: var(--color-text-on-accent);
				transition: background-color 0.5s ease;

				&:hover {
					cursor: pointer;
					background-color: var(--color-primary-hover);
				}
			}
		}
	}
}

@media screen and (min-width: 838px) {
	.modal-bg {
		.modal-card {
			.modal-btns-container {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				padding: 0 50px;
			}
		}
	}
}
