.add-btn {
	display: inline-flex;
	align-items: center;
	padding: 8px 12px;
	gap: 5px;
	border: none;
	border-radius: 5px;
	background-color: #2159bf;
	color: #ffffff;

	.p-add {
		padding-right: 2px;
	}
}
